body {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

li {
    color: rgb(29, 29, 29);
    background-color: rgb(238, 239, 245);
    font-size: 17px;
    margin-top: 5px;
    padding: 13px;
    padding-left: 15px;
    border-radius: 2px;
}

#addbutton {
    border: none;
	padding: 7px;
	font: inherit;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 13px;
    padding-right: 13px;
	cursor: pointer;
    color: white;
    background-color: rgb(37, 193, 255);
}

#addbutton:hover{
    cursor: pointer;
    background-color: rgb(35, 172, 226);
}

#email {
	padding: 5px;
	font: inherit;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 25px;
    width:60%;
}

#paypal-requests {
    padding-left: 40px;
    padding-right:20px;
    width:500px;
    box-sizing: border-box;
}

.split{
    float: right;
    font:inherit;
    font-size: 15px;
    width: 20%;
    margin-right: 15px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;

    float:right;
    background-color: rgb(241, 103, 103);
    color: white;
}

.material-symbols-outlined:hover{
    padding:0px;
    cursor: pointer;
    background-color: rgb(231, 77, 77);
}